div.content-text{
    color: #c4c2c2;
    font-family: Verdana, sans-serif font set;
    font-size: large;
}
h1.content-title-primary{
    color: #e0dede;
    opacity: 1;
    font-size: xxx-large;
}
h1.content-title-secondary{
    color: #e0dede;
    opacity: 1;
    font-size: xx-large;
}
p.content-text-emphasized{
    display: inline;
    color: #f1ea8d;
}
p.content-text-trivial{
    display: inline;
    color: #898585;
}
p.content-text-quote{
    display: inline;
    color: #a39e58;
}
p.content-text-warning{
    display: inline;
    color: #b15a5a;
}
a.content-link{
    text-decoration: none;
}
a.content-fragment{
    text-decoration: none;
    text-decoration-color: darkcyan;
}
div.content-image-inline{
    display: inline;
}
img.content-image-left{
    max-width: 70%;
    height: auto;
}
img.content-image-right{
    max-width: 350px;
    width: auto;
    max-height: 350px;
    height: auto;
}