div.content-text{
    color: #c4c2c2;
    font-family: Verdana, sans-serif font set;
    font-size: 1.5em;
    padding-top: 20px;
}
h1.content-title-primary{
    color: #e0dede;
    opacity: 1;
    font-size: 2.3em;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1.content-title-secondary{
    color: #e0dede;
    opacity: 1;
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
}
p.content-text-emphasized{
    display: inline;
    color: #f1ea8d;
}
p.content-text-trivial{
    display: inline;
    color: #898585;
}
p.content-text-quote{
    display: inline;
    color: #a39e58;
}
p.content-text-warning{
    display: inline;
    color: #b15a5a;
}
a.content-link{
    text-decoration: none;
}
a.content-fragment{
    text-decoration: none;
    color: lightblue;
}
img{
    cursor: zoom-in;
    max-width: 50%;
}
