<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
</head>
<body>
    <form method="post" action="./login">
        <label for="name">Name</label>
        <input id="name" name="username" placeholder="name" type="text"/><br>
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="***********" type="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>