<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, ThymeleafVariablesResolveInspection, HtmlFormInputWithoutLabel, JSUnresolvedVariable -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Corbeau</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style/content.css" rel="stylesheet" />
    <link href="/css/style/prism.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/efb096d4dc.js" crossorigin="anonymous"></script>

    <script>
        function addComment(comment,addFirst){
            const commentLI=document.createElement("li");
            const nameP=document.createElement("p");
            nameP.innerHTML=comment.name;
            nameP.classList.add("text-light")
            const surnameP=document.createElement("p");
            surnameP.innerHTML=comment.surname;
            surnameP.classList.add("text-light")
            const emailP=document.createElement("p");
            emailP.innerHTML=comment.email;
            emailP.classList.add("text-light")
            const contentP=document.createElement("p");
            contentP.innerHTML=comment.content;
            contentP.classList.add("text-light")
            const timeP=document.createElement("p");
            timeP.innerHTML=(new Date(comment.createdAt)).toLocaleString("en-US", {timeZoneName: "short"});
            timeP.classList.add("text-light")
            commentLI.appendChild(nameP);
            commentLI.appendChild(surnameP);
            commentLI.appendChild(emailP);
            commentLI.appendChild(contentP);
            commentLI.appendChild(timeP);
            if(addFirst) document.getElementById("comment-list").prepend(commentLI);
            else document.getElementById("comment-list").append(commentLI);
        }


        function sendComment(){
            console.log("ok");
            const form=document.getElementById("send-comment");
            $.ajax({
                type: form.method,
                url: form.action,
                data: {
                    name: document.getElementById("name").value,
                    surname: document.getElementById("surname").value,
                    email: document.getElementById("email").value,
                    content: document.getElementById("content").value,
                    postId: document.getElementById("post-id").value
                },
                success: function(data) {
                    const comment = JSON.parse(JSON.stringify(data));
                    addComment(comment,true);
                },
                error: function(data) {
                    alert(data.responseText);
                }
            });
        }


        function loadComment(){
            $.ajax({
                type: "GET",
                url: "/api/comment/"+document.getElementById("post-id").value,
                success: function(data) {
                    const comments = JSON.parse(JSON.stringify(data));
                    comments.forEach((comment) => {
                        addComment(comment,false);
                    });
                },
                error: function(data) {
                    alert(data.responseText);
                }
            });
        }

    </script>
</head>
<body style="background: #222D32;">
<script src="/js/style/prism.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand text-info" href=javascript:void(0)><i class="fas fa-crow" style="font-size: 18px;"></i>Corbeau</a>
    <button class="navbar-toggler navbar-toggler-right" data-target="#navb" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="nav navbar-nav">
            <li class="nav-item" th:each="subject: ${subjects}">
                <a class="nav-link" th:href="'/subject/'+${subject.name}" th:text="${subject.name}"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)"><i class="fas fa-search" style="font-size: 18px;"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top: 2.5%; margin-bottom: 2.5%;">
    <h1 th:text="${post.title}" class=" text-light text-center"></h1>
    <div th:utext="${post.content}" class="content-text"></div>
    <div>
        <h3 th:text="${commnetCount}" class="text-light"></h3>
        <button class="btn btn-outline-info" type="submit" onclick="loadComment()">Load</button>
        <div style="margin-top: 2.5%; margin-bottom: 2.5%;">
            <form id="send-comment" method="post" action="/api/comment" onsubmit="event.preventDefault();sendComment()">
                <input id="post-id" name="postId" type="text" style="display: none;" th:value="${post.id}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input class="form-control" id="name" name="name" type="text">
                </div>
                <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input class="form-control" id="surname" name="surname" type="text">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" name="email" type="text">
                </div>
                <div class="form-group">
                    <label for="Content">Content:</label>
                    <textarea class="form-control" id="content" name="content"></textarea>
                </div>
                <button class="btn btn-outline-info" type="submit">Send</button>
            </form>
        </div>
        <div>
            <ul id="comment-list">

            </ul>
        </div>
    </div>
</div>
</body>
</html>