<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection, HtmlFormInputWithoutLabel, HtmlUnknownTag -->
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${moderator.name}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="nav navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
            </li>
        </ul>
        <ul class="nav navbar-nav" style="position: absolute; left: 50%; transform: translateX(-50%);">
            <form class="form-inline my-2 my-lg-0 justify-content-center">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="button"><i style='font-size:18px;' class='fas'>&#xf002;</i></button>
            </form>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
            </li>
        </ul>
    </div>
</nav>
<div style="width: 50%;padding: 5%;">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center" th:text="${moderator.name}+'('+${role.name}+')'">name(role)</h2>
            </div>
            <div class="card-body">
                <h3 th:text="${moderator.email}">email</h3>
                <h3 th:text="${#dates.format(moderator.createdAt, 'dd-MM-yyyy')}">time</h3>
                <h3 th:if="${moderator.createdAt}!=${moderator.updatedAt}" th:text="${#dates.format(moderator.updatedAt, 'dd-MM-yyyy')}">time</h3>
            </div>
            <div class="card-footer">
                <a th:if="${me}" href="/edit"><h4 class="text-center">Edit</h4></a>
            </div>
        </div>
    </div>
</div>


</body>
</html>