<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Corbeau</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/efb096d4dc.js"></script>
    <style>
        body {
            background: #222D32;
        }

        :root {
            color-scheme: dark;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand text-info" href="/moderation/menu"><i class="fas fa-crow" style="font-size: 18px;"></i>
        Moderator
        Panel</a>
</nav>

<div class="container text-center">
    <img height="auto" src="/image/error-crow.png" width="21%">
    <div class="text-secondary bg-dark" style="padding-top: 5%;padding-bottom: 5%;">
        <h1 th:text="${httpStatusCode}"></h1>
        <h2 th:text="${httpStatus}"></h2>
        <h6 th:text="${handlerMessage}"></h6>
        <ul class="list-group" th:if="${fieldErrors!=null}">
            <li class="list-group-item bg-dark" th:each="fieldError : ${fieldErrors}">
                <p th:text="${fieldError.getFieldName()}+' = '+${fieldError.getRejectedValue()}+' , Message = '+${fieldError.getMessage()}"></p>
            </li>
        </ul>
    </div>
</div>

</body>
</html>