<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Corbeau Moderator Panel</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/efb096d4dc.js"></script>
    <script src="/js/login.js"></script>
</head>
<body style="background: #222D32;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-info" href="javascript:void(0)"><i class="fas fa-crow" style="font-size: 18px;"></i>
        Moderator Panel</a>
    <button class="navbar-toggler navbar-toggler-right" data-target="#navb" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)"><i class="fas fa-sign-in-alt"
                                                                        style="font-size: 18px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)"><i class="fas fa-info" style="font-size: 18px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0)"><i class="fas fa-chart-pie"
                                                                          style="font-size: 18px;"></i></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="width: 30%; margin-top: 5%;">
    <h2 class="text-info text-center">Login</h2>
    <form action="/moderation/login" id="login" method="post" onsubmit="event.preventDefault();checkFormValidation();">
        <div class="form-group">
            <label class="text-info" for="name" style="font-size: 20px;">Name:</label>
            <input autocomplete=off class="form-control border-info text-info" id="name" name="username"
                   style="background-color: transparent;" th:value="${@environment.getProperty('moderation.prime.name')}"
                   type="text">
            <p class="text-warning" id="name-warn" style="display: none"></p>
        </div>
        <div class="form-group">
            <label class="text-info" for="password" style="font-size: 20px;">Password:</label>
            <input autocomplete=off class="form-control border-info text-info" id="password" name="password"
                   style="background-color: transparent;" th:value="${@environment.getProperty('moderation.prime.password')}"
                   type="password">
            <p class="text-warning" id="password-warn" style="display: none"></p>
        </div>
        <button class="btn btn-outline-info" id="login-button" type="submit">Login</button>
        <div style="margin-top: 20px;">
            <p class="text-danger" id="error" th:if="${(param.error != null)}">Incorrect Credentials</p>
        </div>
    </form>
</div>

</body>
</html>