<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection, HtmlUnknownTarget, HtmlFormInputWithoutLabel, HtmlUnknownTag -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Corbeau Moderator Panel</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/content.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/efb096d4dc.js"></script>
    <link href="/css/prism.css" rel="stylesheet"/>
    <script src="/js/post.js"></script>
    <script>
        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }

        function onReloadCliked(button) {
            document.getElementById("display-title").innerHTML = document.getElementById("title").value;
            document.getElementById("display-content").innerHTML = document.getElementById("content").value;
        }
    </script>

    <style>
        body {
            background: #222D32;
        }

        :root {
            color-scheme: dark;
        }
    </style>
</head>
<body>
<script src="/js/prism.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand text-info" href="javascript:void(0)"><i class="fas fa-crow" style="font-size: 18px;"></i>
        Moderator Panel</a>
    <button class="navbar-toggler navbar-toggler-right" data-target="#navb" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="nav navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="/moderation/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/moderation/subject">Subject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/moderation/tag">Tag</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/moderation/post">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/moderation/image">Image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/moderation/comment">Comment</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="'/moderation/profile/'+${name}"><i class="fas fa-user"
                                                                                style="font-size:18px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/moderation/notification"><i class="fas fa-bell" style="font-size:18px;"></i></a>
            </li>
            <li class="nav-item">
                <form action="/moderation/logout" id="logout" method="post" style="visibility: hidden"></form>
                <a class="nav-link " onclick="event.preventDefault();document.getElementById('logout').submit();"><i
                        class="fas fa-sign-out-alt" style="font-size:18px;"></i></a>
            </li>
            <li class="nav-item">
                <form action="/search" class="form-inline my-2 my-lg-0" method="get">
                    <input autocomplete="off" class="form-control mr-sm-2 text-info border-info"
                           name="s" placeholder="Search" style="background-color: transparent" type="text">
                    <button class="btn btn-info my-2 my-sm-0" type="button"><i class="fas fa-search"
                                                                               style="font-size: 18px;"></i></button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 2.5%; margin-bottom: 2.5%;">
    <div>
        <h2 class="text-info text-center">Post Update</h2>
        <div>
            <p class="text-secondary" style="font-size: x-large" th:if="${post.createdBy}!=${null}"
               th:text="'Created by: '+${post.getCreatedBy()}"></p>
            <p class="text-secondary" style="font-size: x-large" th:unless="${post.createdBy}!=${null}">Created by:
                None</p>
            <p class="text-secondary" style="font-size: x-large" th:if="${post.updatedBy}!=${null}"
               th:text="'Updated by: '+${post.updatedBy}"></p>
            <p class="text-secondary" style="font-size: x-large" th:unless="${post.updatedBy}!=${null}">Updated by:
                None</p>
            <p class="text-secondary" style="font-size: x-large"
               th:if="${post.createdAt}>0" th:text="'Created at: '+${#dates.format(post.createdAt, 'dd-MM-yyyy')}"></p>
            <p class="text-secondary" style="font-size: x-large" th:unless="${post.createdAt}>0">Created at: None</p>
            <p class="text-secondary" style="font-size: x-large"
               th:if="${post.createdAt}!=${post.updatedAt}"
               th:text="'Updated at: '+${#dates.format(post.updatedAt, 'dd-MM-yyyy')}"></p>
            <p class="text-secondary" style="font-size: x-large" th:unless="${post.createdAt}!=${post.updatedAt}">
                Updated at: None</p>
        </div>
        <form method="post" th:action="'/moderation/post/'+${post.id}" style="display: inline">
            <div class="text-light" style="font-size: x-large">
                <p class="text-info" style="font-size: large">Tags</p>
                <input th:each="tag:${allTags}" th:text="${tag.name}" th:value="${tag.id}"
                       type="checkbox" name="tags" style="margin-left: 30px; margin-right: 10px" th:checked="${#lists.contains(tags,tag)}">
            </div>
            <div class="form-group">
                <label class="text-info" for="title" style="font-size: 20px;">Title:</label>
                <input class="form-control text-info border-info" id="title" name="title" placeholder="Title"
                       style="background-color: transparent" th:value="${post.title}" type="text">
            </div>
            <div class="form-group">
                <label class="text-info" for="endpoint" style="font-size: 20px;">Endpoint:</label>
                <input class="form-control text-info border-info" id="endpoint" name="endpoint"
                       placeholder="Endpoint"
                       style="background-color: transparent" th:value="${post.endpoint}" type="text">
            </div>
            <div class="form-group">
                <label class="text-info" for="thumbnailEndpoint" style="font-size: 20px;">Thumbnail Endpoint:</label>
                <input class="form-control text-info border-info" id="thumbnailEndpoint" name="thumbnailEndpoint"
                       placeholder="Thumbnail Endpoint"
                       style="background-color: transparent" th:value="${post.thumbnailEndpoint}" type="text">
            </div>
            <div class="form-group">
                <label class="text-info" for="description" style="font-size: 20px;">Description:</label>
                <input class="form-control text-info border-info" id="description" name="description"
                       placeholder="Description"
                       style="background-color: transparent" th:value="${post.description}" type="text">
            </div>
            <div class="form-group">
                <label class="text-info" for="subject" style="font-size: 20px;">Subject:</label>
                <select class="form-control text-info border-info" id="subject" name="subjectId"
                        style="background-color: transparent;">
                    <option th:each="s : ${subjects}" th:selected="${s.id==subject.id}" th:text="${s.name}"
                            th:value="${s.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label class="text-info" for="content" style="font-size: 20px;">Content:</label>
                <textarea class="form-control text-info border-info" id="content" name="content"
                          oninput="auto_grow(this)"
                          style="resize: none;overflow: hidden;min-height: 250px; background-color: transparent">[[${post.content}]]</textarea>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" id="activated" name="activated"
                       style="background-color: transparent;"
                       th:checked="${post.activated}" type="checkbox"/>
                <label class="form-check-label text-info" for="activated">Activated </label>
            </div>
            <button class="btn btn-outline-info" type="submit">Update</button>
        </form>
        <form method="post" th:action="'/moderation/post/delete/'+${post.id}" style="display: inline; margin-left: 25px">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form>
    </div>
    <div>
        <button class="btn btn-outline-warning" data-target="#tags" data-toggle="collapse"
                style="margin-top: 25px;margin-bottom: 25px"
                type="button">Tags
        </button>
        <div class="collapse border border-warning" id="tags" style="padding: 20px">
            <h2 class="text-center text-warning">Tags</h2>
            <div>
                <span class="text-light">&lt;h1 class='content-title-primary'&gt;...&lt;/h1&gt;</span>
                <h1 class="content-title-primary">Primary Title</h1>
            </div>
            <div>
                <span class="text-light">&lt;h1 class='content-title-secondary'&gt;...&lt;/h1&gt;</span>
                <h1 class="content-title-secondary">Secondary Title</h1>
            </div>
            <div>
                <span class="text-light">&lt;p class='content-text-emphasized'&gt;...&lt;/p&gt;</span>
                <p class="content-text-emphasized">Text Emphasized</p>
            </div>
            <div>
                <span class="text-light">&lt;p class='content-text-trivial'&gt;...&lt;/p&gt;</span>
                <p class="content-text-trivial">Text Trivial</p>
            </div>
            <div>
                <span class="text-light">&lt;p class='content-text-quote'&gt;...&lt;/p&gt;</span>
                <p class="content-text-quote">Text Quote</p>
            </div>
            <div>
                <span class="text-light">&lt;p class='content-text-warining'&gt;...&lt;/p&gt;</span>
                <p class="content-text-warning">Text Warning</p>
            </div>
            <div>
                <span class="text-light">&lt;a class='content-link'&gt;...&lt;/a&gt;</span>
                <a class="content-text-warning">Link</a>
            </div>
            <div>
                <span class="text-light">&lt;a class='content-fragment'&gt;...&lt;/a&gt;</span>
                <a class="content-text-warning">Fragment</a>
            </div>
            <div>
                <span class="text-light">&lt;img class='content-scalable'/&gt;</span>
            </div>
        </div>
    </div>
    <div style="margin-top: 2%">
        <a href=javascript:void(0) onclick="onReloadCliked(this)"
           style="background-color: transparent; text-decoration: none;"><i class="fas fa-sync text-info"
                                                                            style="font-size: 40px;"></i></a>
        <div class="border-info" style="border-style: solid">
            <div class="content-text" id="display-content" th:utext="${post.content}"></div>
        </div>
    </div>
</div>
<script>initialize()</script>
</body>
</html>